.progressBarContainer{
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    height: 80px;
    padding: 10px;
    border: 1px solid #646cff;
    border-radius: 8px;
}
.progressBar{
    height: 15px;
    border-radius: 5px;
    background-color: #646cff;
}
.label{
    width: 100%;
    text-align: center;
}