.topBar{
    width: 100%;
    padding: 20px 0;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    place-content: center;
    /* background-color: black; */
    color: aliceblue;
}
.logo {
    height: 2.4em;
    will-change: filter;
    transition: filter 300ms;

}
.logo.react:hover {
filter: drop-shadow(0 0 2em #39a4ceb4);
}

@keyframes logo-spin {
from {
    transform: rotate(0deg);
}
to {
    transform: rotate(360deg);
}
}

@media (prefers-reduced-motion: no-preference) {
div:nth-of-type(1) .logo {
    animation: logo-spin infinite 20s linear;
}
}