.listContainer{
    margin-top: 6rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.listContainer input{
    max-width: fit-content;
    margin: .5vh;
}
.searchInput{
    padding: 6px;
}
.buttonsContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 800px;
    margin: 1vh;
}
.test{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.more{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}
button:active{
    transform: scale(0.9);
}
.buttonsContainer .button:focus{
    border: 1px solid #646cff;
}
.counterStyle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 1vh;
}
