:root{
    overflow-x: hidden;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.elementLeft{
    display: flex;
    justify-content: left;
    margin: 1em;

}
.elementRight{
    display: flex;
    justify-content: right;
    margin: 1em;
}
p{
    display: flex;
    align-items: center;
    text-align: center;
    font-weight: 600;
    width: 60%;
    margin: 2em;
}
.img{
    border-radius: 2em;
}