:root{
    overflow-x: hidden;
}
.container{
    width: 100%;
    display: flex;
    justify-content: center;
}
.containerElement{
    width: 100%;
    display: flex;
    flex-direction: row;
    max-width: 1500px;

}
.elementLeft, .elementRight{
    display: flex;
    margin: 1em;
    padding: 4em 0 4em 0;
    max-width: 1160px;
}
.elementLeft{
    justify-content: left;
}
.elementRight{
    justify-content: right;
}
.homePageContent{
    background-color: rgba(44, 44, 44, 0.671);
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 20px;
    border: 2px solid black;
    border-radius: 2em;
}
.containerElement>img{
    position: relative;
    width: 600px;
    border: 2px solid black;
    border-radius: 2em;
    margin: 0 1em 0 1em;
}
/* .containerElement>img:nth-child(1)::after{
    content: "CalorieTrack";
    position: absolute;
    top:0;
    left: 0;
    font-size: 2em;
    font-weight: 800;
    display: block;
    margin: 1em;
    z-index: 2;

} */